@charset "UTF-8";

@media screen and (min-width: 800px) {
    i#burguer {
        display: none;
    }
    menu > ul > li {
        display: inline-block;
        
    }
    div.campo {
        width: 99%; 
    }
    div.campo > input {
        width: 99%;
    }
    div.campo > textarea {
        width: 99%;
    }
}